.my-background{
  background-color:#E4E8DD; ...#75F0D1
  color: #213454;
}
 .card-background1{
   background-color: #C0C2B6;
 }

 .card-border{
   border-color: #75F0D1;
 }
 .btn-color{
   background-color: #000000;
   color: #FFFFFF;
 }

.img-size{
  height: 80vh;
}
.navbarbg{
  background-color: #424140;
  color: #C6B6AD;

}
@media only screen and (min-width: 400px) {
/* For mobile phones: */
/*[class*="col-"] {width: 100%;}*/
  /*.img-size{width: 20rem;}*/
  .card-main {width:9rem;}
  .card-project{width:9rem;}
  /*.col-4{width:}*/
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .card-main {width:25rem;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .card-main {width:40rem;}
  .card-project{width:30rem;}
  /*.img-size{width:30rem;}*/

}
