.my-background{
  background-color:#E4E8DD; ...#75F0D1
  color: #213454;
}
 .card-background1{
   background-color: #C0C2B6;
 }

 .card-border{
   border-color: #75F0D1;
 }
 .btn-color{
   background-color: #000000;
   color: #FFFFFF;

 }
